/* _content/FSH.BlazorChartjs/Component1.razor.rz.scp.css */
.my-component[b-viy5e0k794] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
